<div ng-controller="indexController">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"> iStat</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">File <span class="sr-only">(current)</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Calculate <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Row's total</a></li>
							<li><a href="#">Column's total</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Median</a></li>
							<li><a href="#">Mode</a></li>
							<li><a href="#">Midrange</a></li>
							<li><a href="#">Variance</a></li>
							<li><a href="#">Standard deviation</a></li>
							<li><a href="#">Geometric mean</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Transform <span class="caret"></span></a>
						<ul class="dropdown-menu" style="overflow: visible;">
							<li><a href="#">Transpose dataset</a></li>
							<li><a href="#">Scale</a></li>
							<li><a href="#">Add a scalar</a></li>
							<li><a href="#">Add two datasets</a></li>
							<li><a href="#">Multiply two datasets</a></li>
							<li><a href="#">Linear interpolation</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Graphics <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Pie chart</a></li>
							<li><a href="#">Line chart</a></li>
							<li><a href="#">Bar chart</a></li>
						</ul></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div id="hot"></div>
</div>

<div ng-controller="iCalcController">
	<form role="form">
		<textarea class="form-control" ng-model="data" rows="50" />
		<button class="btn btn-primary" ng-click="calculateRowTotal(data)">Submit</button>
	</form>
</div>